.container {
    padding: 16px 10px;
    border: 2px solid black;
  }
  
  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 2px solid rgb(201, 201, 152);
    background: hsl(0, 10%, 94%);
    border-radius: 13px;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;

  }

  .registerbtn {
    background-color: #a08633;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  




